.ag-header {
  background: rgb(255 103 57);
  color: white;
  font-weight: bold;
}

.ag-header-cell-resize {
  &:after {
    background-color: #ffffff52;
  }
}

.ag-body {
  font-weight: 500;
}

.centered {
  .ag-header-cell-comp-wrapper {
    justify-content: center !important;
  }
  .ag-header-cell-label {
    justify-content: center !important;
  }
}

.badge {
  padding: 6px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}
.badge-green {
  background-color: #4caf50;
}
.badge-orange {
  background-color: #d68a3d;
}
.badge-red {
  background-color: #b50000;
}
.badge-peach {
  background-color: #f9c5a5;
  color: black;
}
.badge-blue-light {
  background-color: #d4ecff;
  color: black;
}
.badge-blue {
  background-color: #0a7fe6;
}
.badge-dark {
  background-color: #303030;
}
.badge-green {
  background-color: #00ab36;
}
